body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

button {
	display: block;
}

p{
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.wrapper {
	max-width: 100%;
	min-width: 320px;
}

.header {
	height: 100vh;
}

.header-info {
	position: absolute;
	z-index: 13;
}

header .carousel {
	position: relative;
	width: 100%;
	max-width: 100%;
	z-index: 1;
}

header .carousel-control-prev, .carousel-control-next {
	z-index: 100;
}


.header-slider {
	position: relative;
	height: 100vh;
}

.header-slider_main-image {
	background: url(../img/house.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-slider_second-image {
	background: url(../img/slider_2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-slider_third-image{
	background: url(../img/slider_3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-slider_main-image::after, .header-slider_second-image::after, .header-slider_third-image::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 100%);
	z-index: 2;
}

.about {
	text-align: left;
}

.about__wrap {
	padding: 150px 0;
}

.about__title {
	text-align: left;
}
.services {
	background-color: #f5f5f5;
}
.services__title {
	padding-top: 150px;
}

.about__image {
	height: 220px;
	width: 220px;
	object-fit: cover;
	margin: 10px !important;
}

.services__wrap {
	padding: 50px 0 150px 0;
}

.services__wrap .card {
	margin-bottom: 100px;
}

.card {
	border: none;
	background-color: transparent;
}

.card-deck .card {
	margin-bottom: 50px;
}

.card img{
	height: 90px;
	width: 90px;
	margin-left: auto;
	margin-right: auto;
}

.card-text {
	color: #777;
}

.list-group-item {
	font-size: 16px;
	background-color: transparent;
}

.navbar {
	padding: 1rem 2.5rem;
}
.navbar-brand {
	font-size: 2.25rem;
	font-weight: 300;
}

.navbar-dark .navbar-brand {
	color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.938rem;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255, 255, 255, 1);
	font-size: 0.938rem;
	text-align: center;
}

.nav-item {
	vertical-align: middle;
}

.carousel-caption {
	top: 30%;
}

.carousel-caption h2 {
	font-size: 60px;
}

.carousel-caption h2 span {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 45px;
}

.carousel-caption p {
	font-size: 22px;
	line-height: 2em;
	padding: 30px 0;
}

.btn-outline-light {
	border: solid 2px;
	color: #f8f9fa;
	border-color: #f8f9fa;
	padding: 1rem 2rem;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.btn-outline-light:focus, .btn-outline-light.focus {
	box-shadow: 0 0 0 0.1rem rgba(248, 249, 250, 0.5);
}

.footer {
	background-color: #000;
}
.footer__copyright {
	color: #fff;
	margin: 0;
	padding: 2rem 0;
}






#reviwes {
	padding-top: 40px;
	padding-bottom: 80px;
	font-family: 'Rubik', sans-serif;
 }
 .review-author {
	  font-size: 22px;
	  font-weight: 500;
	  margin-top: 30px;
	  text-transform: uppercase;
 }
 
 .carousel-indicators {
	  bottom: -58px;
 }
 
 .carousel-indicators li {
	  background-color: rgba(0, 0, 0, .5);
 }
 
 .carousel-indicators .active {
	  background-color: #000;
 }
 
 
 .carousel-control-next-icon,
 .carousel-control-prev-icon {
	  width: 35px;
	  height: 35px;
 }
 
 .carousel-control-prev-icon {
		  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }
 
 .carousel-control-next-icon {
		  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
 }
 
 @media (max-width: 575px) {
	  .review {
			padding-left: 40px;
			padding-right: 20px;
	  }
 }